<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0 //EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sh.cjc.fm.mapper.CategoryMapper">
    <resultMap id="categoryMap" type="sh.cjc.fm.model.Category">
        <id property="id" column="id"/>
        <result property="categoryName" column="category_name"/>
        <result property="pid" column="pid"/>
        <result property="img" column="img"/>
        <result property="isValid" column="is_valid"/>
        <result property="rectime" column="rectime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result property="modtime" column="modtime" jdbcType="TIMESTAMP" javaType="java.sql.Timestamp"/>
        <result property="creator" column="creator"/>
        <result property="editor" column="editor"/>
    </resultMap>
    <select id="selectAll" resultMap="categoryMap">
        SELECT *
        FROM category
    </select>
    <select id="selectById" resultMap="categoryMap">
        SELECT *
        FROM category
        WHERE id = #{id}
    </select>
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO category(category_name,pid,img,is_valid,rectime,creator)
        VALUES (#{categoryName},#{pid},#{img},#{isValid},#{rectime},#{creator})
    </insert>
    <update id="update">
        UPDATE category SET category_name = #{categoryName},
        pid = #{pid},img = #{img},is_valid = #{isValid},modtime = now(),
        editor = #{editor}
        WHERE id = #{id}
    </update>

</mapper>