<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!--设置懒加载-->
        <!--<setting name="aggressiveLazyLoading" value="false"/>-->

        <setting name="logImpl" value="LOG4J"/>
    </settings>
    <typeAliases>
        <package name="sh.cjc.fm.model"/>
    </typeAliases>
    <plugins>
        <!-- com.github.pagehelper为PageHelper类所在包名 -->
        <plugin interceptor="com.github.pagehelper.PageHelper">
            <!-- 设置数据库类型 Oracle,Mysql,MariaDB,SQLite,Hsqldb,PostgreSQL六种数据库-->
            <property name="param1" value="value1"/>
        </plugin>
    </plugins>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/fm?zeroDateTimeBehavior=convertToNull&amp;useSSL=true&amp;serverTimezone=GMT"/>
                <property name="username" value="root"/>
                <property name="password" value="123456"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--配置单个Mapper-->
        <!--<mapper resource="com/em/fm/mapper/AlbumMapper.xml"/>-->

        <!--配置文件夹-->
        <package name="sh.cjc.fm.mapper"/>
    </mappers>


</configuration>